* {
    border: 1px solid;
}
body {
    margin: 0;
    font-size: 1.2rem;
}

header {
    background-color: #1F2937;
    color: #ffffff;
}
header .header-container {
    max-width: 700px;
    margin: 5px auto 10px auto;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #ead0d0;
}

.intro {
    background-color: #1F2937;
    color: #ffffff;
}
.intro .intro-container{
    display: flex;
    max-width: 700px;
    margin: 50px auto;
    gap: 50px;
}
.intro .intro-left h1 {
    margin: 0;
}
.intro .intro-left p {
    margin: 0;
}
.intro .intro-left {
    flex: 1;
}
.intro .intro-right {
    flex: 1;
}